# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log

# Medusa
.cache
dist/
.medusa/
build/
logs/
*.log
dump.rdb

# Environment variables
.env
.env.*
!.env.template

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# OS
.DS_Store
Thumbs.db 